root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 140

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,kotlinx.**
ktlint_standard_function-naming = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_comment-wrapping = disabled
ktlint_standard_value-parameter-comment = disabled
ktlint_standard_value-argument-comment = disabled
ktlint_standard_filename = disabled
max_line_length = off
